@import url("https://fonts.googleapis.com/css?family=Inter:400");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(174.4, 112.74, 252.88) 0%, 
rgba(255, 255, 255, 0) 100%);
  background-color: 
rgba(255, 255, 255, 1);
  border: 1px none;
  display: flex;
  height: 1117px;
  padding: 338px 616px;
  width: 1728px;
}

.overlap-group {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(4px) brightness(100%);
  background-color: var(--gray-nurse);
  display: flex;
  flex-direction: column;
  min-height: 440px;
  padding: 28px 81px;
  width: 495px;
}

.title {
  align-self: flex-start;
  height: 44px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 323px;
}

.overlap-group3 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 58px;
  margin-top: 27px;
  min-width: 313px;
  padding: 19px 26px;
}

.overlap-group2 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 58px;
  margin-top: 27px;
  min-width: 313px;
  padding: 19px 26px;
}

.enter-email {
  height: 18px;
  letter-spacing: 0;
  line-height: normal;
  width: 266px;
}



.x-password {
  height: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.overlap-group4 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 58px;
  margin-top: 3px;
  min-width: 313px;
  padding: 19px 26px;
}

.overlap-group1 {
  align-items: flex-start;
  background-color: var(--electric-violet);
  display: flex;
  height: 58px;
  justify-content: flex-end;
  margin-top: 27px;
  min-width: 313px;
  padding: 13px 11px;
}

.place {
  height: 29px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 290px;
}

:root {
    --black-2: 
  rgba(0, 0, 0, 0.502);
    --black: 
  rgba(0, 0, 0, 1);
    --electric-violet: 
  rgba(144, 57, 255, 1);
    --alto: 
  rgba(217, 217, 217, 1);
    --gray-nurse: 
  rgba(232, 232, 232, 1);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-m: 15px;
    --font-size-l: 16px;
    --font-size-xl: 24px;
    --font-size-xxl: 36px;
  
    --font-family-inter: "Inter";
  }
  
  .inter-normal-black-16px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
  }
  .inter-normal-black-15px {
    color: var(--black-2);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .inter-normal-white-24px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
  }
  .inter-normal-black-36px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-weight: 400;
    font-style: normal;
  }